@import '../../Global/Global.module.scss'; 

.main{
    height: 100vh;
    background: $background-g;

.parent{
    width: 70vw;
    height: 100vh;

    // border: 2px solid blue;
    margin-left: 280px;

    .heading{
        // color: aqua;
        color: $white-color-g;
        font-size: $font-size-m-g;
        font-family: $font-family-g;

    }

    .slider{
        height: 100%;
        // border: 2px solid green;

        .cart{
            background: transparent ;
            margin-left: 400px;
        }
    }
}
}