@import '../../Global/Global.module.scss'; 

.parent{
    background: $background-g;
     height: 100vh;

     .heading{
        color:$white-color-g;
font-size:$font-size-m-g;
font-family:$font-family-g;
     }
}