$background-g:linear-gradient( rgba(2,0,36,1) 0%, rgba(10,10,117,1)  );

$white-border-g:0.5px solid white;
$purple-border-g:2px solid rgb(201, 186, 245);


//color

$white-color-g:white;
$light-blue-color-g:rgb(140, 186, 238);
$green-color-g:green;


//font-size

$font-size-m-g:50px;