@import '../../Global/Global.module.scss'; 

.parent{
    height: 100vh;
    background: $background-g;
    padding-top: 100px;
    padding-left: 30%;
    

    .Heading{
        color: $white-color-g;
        font-size: $font-size-m-g;
        font-family: $font-family-g;
    }
    .img{
        height: 250px;
    }
    .errimg{
        height: 100px;
        margin-left: 600px;
        margin-top: -600px;
    }
}