@import '../../Global/Global.module.scss'; 

@mixin display {
    display: flex;
    justify-content: center;
    align-items: center;
}

.background {

    background: $background-g;

    .Heading{
        color: $white-color-g;
        font-size: $font-size-m-g;
        font-family: $font-family-g;
    }
     .main_parent {
        @include display;
        height: 100vh;

        justify-content: space-evenly;
        margin-top: -30px;
        // border: 2px solid rgb(247, 240, 240);

        .parent {
            @include display;
            flex-direction: column;
            justify-content: space-between;
            width: 40vw;
            height: 70vh;
            // border: 2px solid red;
        }

        .image_container {
            // border: 2px solid rgb(18, 152, 192);
        }
    }
}