@import '../../Global/Global.module.scss'; 
$white : white;


@mixin direction {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.parent {
    @include direction;
    height: 100vh;
    background: $background-g;

    .heading{
     font-size: $font-size-m-g + 10;
     color: $white-color-g;
    }
    .main_container {
        height: 800px;
        width: 500px;
        // border: 2px solid red;
        box-shadow: rgba(70, 70, 85, 0.16) 0px 10px 14px;
        color:$white-color-g;
        // text-align: center;

        Form {
            padding-left: 12px;
        }

        .element {
            // border: 2px solid red;
            height: 100px;
            margin-top: 10px;

            .child_element {
                border: $purple-border-g;
                width: 70%;
                height: 25px;
                border-radius: 20px;
                background: transparent;
                margin-left: 30px;
                margin-top: 10px;
                color: $white-color-g;
                padding-left: 15px;
            }

            .child_element::placeholder {
                color: $white-color-g;
                padding-left: 5px;
            }

            .EEr {
                padding-left: 10px;
            }

        }
    }
}