@import '../../Global/Global.module.scss'; 

@mixin display{
    display: flex;
    justify-content: space-around;
}



.main_parent{
    background: $background-g;
 height: 100vh;

 .heading{
    color:$white-color-g;
    font-size:$font-size-m-g ;
    font-family: $font-family-g;
 }
    .main_container{
    
        @include display;
        margin-top: 250px;
    }
}
